#background {
    position: absolute;
}

#noise {
    position: absolute;
    height: 100vh;
    width: 100vw;

    z-index: 5;
    opacity: 0.05;
    background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
            2500px,
        repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 50%/2500px
            2500px;
    background-blend-mode: difference;
}

#screen-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
            rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.25) 50%
        ),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
        );
    z-index: 10;
    background-size: 100% 5px, 5px 100%;
    animation: screen-flicker 0.5s infinite;
}

#terminal {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    animation: text-shadow 1.6s infinite;
}
